body {
    background-color: #e9e9e9!important;
}
.footer {
    background-color: #e9e9e9!important;
}
.nav-link.active {
    background-color: #57ad68!important;
}
.nav-pills .nav-item {
    padding-right: 0.5rem!important;
    padding-top: 1rem!important;
    height: 5rem!important;
    margin-top: 2rem!important;
    width: 100%!important;
}
.nav-pills .nav-link {
    padding: 1.5rem 1rem!important;
    color: #57ad68!important;
    font-weight: bold!important;
    border: 1px solid #57ad68;
    /* box-shadow: 1px 1px 10px 1px #777!important; */
}
.nav-pills .nav-link.active {
    color: #FFF!important;
}
.navbar-brand-img {
    max-height: 3rem!important;
}
.my-3 {
    margin-top: 5rem!important;
    border: 2px solid #57ad68!important;
    width: 100%!important;
}
.py-4 {
    width: 90%!important;
}
.header {
    padding-top: 2rem!important;
}
.bg-primary {
    background-color: #57ad68!important;
}
.navbar a {
    color: #57ad68;
}
.navbar a:hover {
    color: #000;
}
.container-fluid {
    padding-top: 30px;
}
.main-content {
    margin-left: 250px!important;
}
.footer a {
    color: #57ad68;
}
.footer a:hover {
    color: #000;
}
.navbar-nav li {
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: .375rem;
}
.navbar-nav li:hover {
    background-color: #fff!important;
}
.navbar-nav li:hover a {
    color: #57ad68!important;
}
.avatar  {
    width: 3rem!important;
    margin-right: 0.5rem;
}
.main-content button {
    background-color: #57ad68!important;
    color: #FFF!important;
    float: right!important;
    display: block!important;
}

.edit-tables {
    display: flex;
}
.navbar-top {
    margin-left: 225px!important;
}